
/*
header and footer background color: #F9F8F8
*/

body {
  background-color: #F9F8F8;
  font-family: 'Sarabun', sans-serif;
  text-align: center;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 380px;
  background-color: white;
}

li  {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.main-header {
  background-color: #F9F8F8;
  padding: 1em 0;
}

.portfolio {
  background-color: #ffffff;
}

/*
Media queries
*/

@media (min-width: 769px)  {
  body {
    max-width: 1000px;
    margin: 0 auto;
  }
}
