
/*
header and footer background color: #F9F8F8
font-family: 'Sarabun', sans-serif;
*/

/*
Base styles
*/

* {
	box-sizing: border-box;
}

section {
	padding-top: 5%;
}

h3 {
	padding-top: 5%;

}

p {
	margin-left: 20px;
	margin-right: 20px;
}

footer {
	padding-top: 10%;
	padding-bottom: 10%;
}

footer li {
		display: inline;
}

li {
	display: block;
}

img {
	max-width: 100%;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main styles ------------------ */

.main-body-wrapper {
	font-family: 'Sarabun', sans-serif;
	background-color: #F9F8F8;
	text-align: center;
	display: inline-block;
	margin: auto; /* change in media queries according to screen size */


}

.portfolio {
	background-color: white;
	padding-top: 10%;
	padding-bottom: 10%;
	width: 100%; /* change in media queries according to screen size */
}

.portfolio p {
	padding-bottom: 5%;
}

.main-header {
	padding-top: 5%;
	padding-bottom: 10%;
}



/* Layout Styles ------------------ */
